/*import the fonts into the code so we can use them*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@1,300&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
     box-sizing: border-box;
}

#background{
    height: 725px;
    background-color: #2EC4B6;
}

#logo_link{
    padding-top: 5px;
}

/*Background colors are being added*/
/*Font Colors Added*/
/*Removed Hyper Link Lines*/
body{
    background-color: #CBF3F0;
    font-size: 22px;
    font-family: 'PT Serif', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

header{
    background-color: #FFBF69;
}

.home-title{
    color: black;
    font-family: 'poppins', helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: black;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'poppins', helvetica, sans-serif;
}

nav a:hover{
    background-color: #ffffff;
    color: #2EC4B6;
}

.book, .join{
    background-color: #FFBF69;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: white;
    color: rgb(82, 151, 230);
}

.msg{
    background-color: #2EC4B6;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color: white;
}

.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: #FFBF69;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

/*Adding bigger font to the Footer P*/
footer p{
    font-size: 1.2em;
    font-family: 'poppins', helvetica, sans-serif;
}

footer a{
    color: white;
    text-decoration: none;
    font-family: 'poppins', helvetica, sans-serif;
}

footer a:hover{
    background-color: white;
    color: #2EC4B6;
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

/*Adding Widths to the elements*/
.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px; 
}

#hero-img{
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
      border: 10px solid #2EC4B6;
}