body{
    background-color: rgb(101, 101, 101);
}

.main_image{
    width: 100%;
}

.roundy{
    border-radius: 50%;
    border: 20px solid rgb(55, 55, 55);
    margin: 75px;
    width: 20%;
    padding: 0;
}
